.element__like-btn_active {
  background-image: url(../../../../images/like_active.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 22px;
  height: 19px;
  align-self:center;
  cursor: pointer;
  padding: 0;
}
