@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__out/header__out.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__user/header__user.css);
@import url(./blocks/header/__content/header__content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__img/profile__img.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__user-name/profile__user-name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__wrapper/profile__wrapper.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__caption/element__caption.css);
@import url(./blocks/element/__like-btn/element__like-btn.css);
@import url(./blocks/element/__trash/_active/element__trash_active.css);
@import url(./blocks/element/__description/element__description.css);
@import url(./blocks/element/__like-btn/_active/element__like-btn_active.css);
@import url(./blocks/element/__counter/element__counter.css);
@import url(./blocks/element/__count/element__count.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copy/footer__copy.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__submit/popup__submit_disabled.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input/popup__input-error.css);
@import url(./blocks/popup/__input/popup__input-error_active.css);
@import url(./blocks/popup/_is-opened/popup_is-opened.css);
@import url(./blocks/popup/_type/popup_type_review.css);
@import url(./blocks/popup/__view/popup__view.css);
@import url(./blocks/popup/__description/popup__description.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__title/_confirm/popup__title_confirm.css);
@import url(./blocks/popup/__submit/_confirm/popup__submit_confirm.css);
@import url(./blocks/popup/_type/popup_type_infotooltip.css);

@import url(./blocks/button/button.css);
@import url(./blocks/profile/__avatar-changes/button__avatar-changes.css);

@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__container/auth__container.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__subtitle/auth__subtitle.css);
@import url(./blocks/auth/__btn/auth__btn.css);
@import url(./blocks/auth/__login-link/auth__login-link.css);